.botonesfooter {
  color: #24241c;
  background-color: white;
  text-decoration: none;
}

.mifooter2 {
  margin-top: 4%;
  text-decoration: none;
  background-color: #24241c;
}

.mifooter3 {
  text-decoration: none;
  background-color: #24241c;
}

.nombre {
  font-size: 13px;
}

.myform {
  margin-inline: 300px;
  margin-top: 40px;
}

@media (max-width: 768px) {
  .myform {
    width: 80%;
    margin-inline: auto;
    align-items: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .myform {
    width: 80%;
    margin-inline: auto;
    align-items: center;
  }
}
.btnenviar2 {
  color: #ffffff !important;
  width: 16%;
}

.contact {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-weight: bold;
}

.cardtitlecentro {
  font-family: "Montserrat", sans-serif bold;
  text-align: center;
}

.cardprecio {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.mirow {
  margin-top: 1px;
  margin-bottom: 3px;
  margin-left: 6px;
  margin-right: 6px;
}

.micardbody {
  background-color: rgb(245, 245, 245);
}

#top {
  position: absolute;
  top: 0;
  left: 0;
}

.btntop {
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 99;
  font-size: 15px;
  border: none;
  outline: none;
  background-color: gray;
  color: darkgray;
  text-decoration: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

.btntop:hover {
  background-color: white;
}

.hidden-btntop {
  display: none;
  position: absolute;
  background-color: white;
  color: white;
  cursor: inherit;
}

@media (max-width: 600px) {
  .btntop {
    display: none;
  }
}
.minavbar {
  background-color: #24241c;
  font-family: "Montserrat", sans-serif;
}
.minavbar .menuh {
  font-size: 15px;
  border: none;
  line-height: 0px;
}
.minavbar .menuh:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}

.botoncarrito {
  background-color: transparent;
  border: none;
}

.micarrito {
  width: 18px;
  height: 18px;
  fill: white;
}

.micontaineradvertising {
  background-color: rgba 36, 36, 28, 0.3;
  color: #24241c;
  padding: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.header {
  margin-top: 0%;
}

.micarousel {
  background-color: black;
  height: 100%;
}

.section-newsletter-home {
  padding-top: 50px;
  margin-bottom: 70px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.h2 {
  text-align: center;
  font-weight: bold !important;
}

.btnenviar {
  background-size: 200% 200%;
  background-image: linear-gradient(to top, #262627 50%, transparent 50%);
  border-bottom: 3px solid #262627;
  background-color: #24241c !important;
  font-weight: bold;
  transition: all 0.09s ease-in;
  display: block;
  margin: 0 auto;
  margin-top: 18px;
  padding: 11px 16px 11px 16px;
  position: relative;
  text-decoration: none;
  text-align: center;
  color: #262627;
  border: 0;
  cursor: pointer;
  appearance: none;
  text-transform: uppercase;
  background: none;
  white-space: normal;
  transition: all 0.4s ease;
}

.textosection {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  padding-top: 20px;
}

@media (max-width: 768px) {
  .body {
    background-color: #24241c;
  }
  .textosection {
    margin-left: 20px;
    margin-right: 20px;
  }
}
.fotocarrousel {
  width: 115%;
}

/*# sourceMappingURL=style.css.map */
