$tipografiamont: 'Montserrat', sans-serif;
$colorprincipal: #24241c;

.minavbar {
    background-color: $colorprincipal;
    font-family: $tipografiamont;
    .menuh{
        font-size: nth($size, 4);
        border: none;
        line-height: nth($size , 1);
    }
    .menuh:focus{
        text-decoration: none; 
        outline: 0; 
        box-shadow: none;
    }
}

.botoncarrito {
    background-color: transparent;
    border: none;
}

.micarrito{
    width: 18px;
    height: 18px;
    fill: white;
}

 .micontaineradvertising {
     background-color: rgba (36,36,28,0.3);
     color: $colorprincipal;
     padding: nth($size , 2);
     font-family: $tipografiamont;
     font-size: nth($size, 3);
 }

.header{
    margin-top: 0%;
}

.micarousel {
    background-color: black;
    height: 100%;
}

.section-newsletter-home{
    padding-top: 50px;
    margin-bottom: 70px;
    font-family: $tipografiamont;
    font-weight: bold;
}

.h2{
    text-align: center;
    font-weight: bold!important;
}

 .btnenviar {
     background-size: 200% 200%;
     background-image: linear-gradient(to top, #262627 50%, transparent 50%);
     border-bottom: 3px solid #262627;
     background-color: $colorprincipal!important;
     font-weight: bold;
     transition: all 0.09s ease-in;
     display: block;
     margin: 0 auto;
     margin-top: 18px;
     padding: 11px 16px 11px 16px;
     position: relative;
     text-decoration: none;
     text-align: center;
     color: #262627;
     border: 0;
     cursor: pointer;
     appearance: none;
     text-transform: uppercase;
     background: none;
     white-space: normal;
     transition: all 0.4s ease;
}

.textosection {
    text-align: center;
    font-family: $tipografiamont;
    font-size: 14px;
    padding-top: 20px;
}


@media (max-width: 768px) {
    .body {
background-color: $colorprincipal;
    }
    .textosection {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.fotocarrousel {
    width: 115%;
}

.modal-container {
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 100vw;
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
    
    

}

.my-modal {
    width: 450px;
    height: 120px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;

}

.modal-container-active{
    opacity: 1;
    visibility: visible;
}