.cardtitlecentro {
    font-family: $tipografiamont bold;
    text-align: center;
}

.cardprecio{
    font-family: $tipografiamont;
    text-align: center;
}

.mirow {
    margin-top: 1px;
    margin-bottom: 3px;
    margin-left: 6px;
    margin-right: 6px;
}

.micardbody {
    background-color: rgb(245, 245, 245);
}