
.botonesfooter{ 
    @include footerBootstrap($colorfondo, $colorletra);
    @include footerBootstrapp;
   }
   
   
.mifooter2 {
  margin-top: 4%;
  text-decoration: none;
  background-color: $colorfondo;
}
  .mifooter3{
  text-decoration: none;
  background-color: $colorfondo;
 }
