
@mixin footerBootstrap ($colorletra, $colorfondo ) {
    // text-decoration: $decoration;
    color: $colorletra;
    background-color: $colorfondo;
}
@mixin footerBootstrapp {
    text-decoration: none;
}